* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 150;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.calendar-container {
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 30px;
  background-color: rgb(230,237,255)/*rgb(206,16,233)*//*rgb(238,251,248)*/;
  position:relative;
}

.calendar-container .vert-line {
  padding-right: 10px;
  border-left: 2px solid #000;
  width: 100%;
}

.calendar-container .week {
  position:relative;
  padding: 30px 50px;
  color: rgb(96,19,235);
}

.calendar-container .week .day {

}

.calendar-container .week .day .info {

}

.h-line {
  border-top: 1px solid rgb(174,221,255);
}

.dropdown {
  position:fixed;
  display:inline-block;
}

.dropdown .drop-button {
  background-color: rgb(204,252,255);/*rgb(174,221,255);*//*rgb(247,208,247);*/ /*darker*/
  color: rgb(96,19,235);/*rgb(128,128,128);dark gray*/
  font-size: 20px;
  border: 2px solid rgb(96,19,235);
  position:sticky;
  display:inline;
  font-size: 30px;
  min-width: 128px;
}

.dropdown .drop-button:hover {
  background-color: rgb(96,19,235);/*rgb(249,225,249);*/ /*lighter pastel*/
  color: rgb(204,252,255);/*rgb(150,150,150);gray*/
  border: 2px solid rgb(204,252,255);
  .dropdown-content {display:block;}
}

.dropdown .dropdown-content {
  position:absolute;
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: rgb(204,252,255);/*rgb(236,244,254);white blue*//*rgb(249,225,249);pastel*/
  min-width: 128px;
}

.dropdown:hover .dropdown-content {display:block;}

.dropdown .dropdown-content a {
  font-size: 16px;
  color: rgb(96,19,235);/*rgb(128,128,128);gray*/
  display: block;
  padding: 10px 10px;
  text-align: center;
}

.dropdown .dropdown-content a:hover {
  color: rgb(204,252,255);/*rgb(100,100,100);gray*/
  background-color: rgb(96,19,235);/*rgb(247,208,247);pastel*/
}

.videos {
  display: inline-block;
}

.videos .video {
  display: inline-block;
}
