* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 150;
}

#Calendar {
  font-size: 30px;
  position:fixed;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.calendar-container {

}

/*.week {
  position:relative;
  left: 60px;
}*/

.dropdown {
  position:relative;
  display:inline-block;
}

.drop-button {
  background-color: rgb(247,208,247); /*darker*/
  color: rgb(128,128,128);
  font-size: 20px;
  border: 2px solid #7E7979;
  position:relative;
  display:inline;
}

.dropdown-content {
  position:absolute;
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: rgb(249,225,249);
  padding: 10px 20px;
}

.drop-button:hover {
  background-color: rgb(249,225,249); /*lighter*/
  color: rgb(150,150,150);
  border: 2px solid rgb(150, 150, 150);
  .dropdown-content {display:block;}
}

.dropdown:hover .dropdown-content {display:block;}

.dropdown-content:hover {

}
.dropdown-content a {
  font-size: 15px;
  color: rgb(128,128,128);
  display: block;
  padding: 10px 20px;
}

.dropdown-content a:hover {
  color: rgb(100,100,100);
  background-color: rgb(247,208,247);
}
